@font-face {
  font-family: "starling";
  src: url("fonts/Starling-Book.woff") format('woff');
}

@font-face {
  font-family: "starling";
  src: url("fonts/Starling-BookItalic") format('woff');
  font-style: italic;
}


header{
  font-family: helvetica neue, helvetica, sans-serif;;
  font-size: 18px;
  padding-top:20px;
  padding-bottom: 30px;
  padding-left: 20px;
  padding-right: 20px;
  line-height: 26px;
  color:#0F0F0F;
  width: 100%;
  text-align: top;
     /* -webkit-font-smoothing: none;
/*position: sticky;*/
/*top: 0px;*/
/*border: 1px;*/
}

nav{
  align: top;
}

.sticker {
  background-color: yellow;
  border-radius: 10px;
  padding-left: 20px;
  padding-top: 20px;
  height: 180px;
  width: 480px;
}

p {
font-family: helvetica neue, helvetica, sans-serif;;
  
}

nav {
float: right;
}

header a, nav a {
text-decoration: none;
cursor: pointer;
color: #0F0F0F;
}

nav a {
border-bottom: dotted 1px #0F0F0F;
}

footer {
    font-family: helvetica neue, helvetica, sans-serif;;
    color: grey;
    display: table-row;
    height: 65px;
    width: 100%;
    float: left;
    margin-top: 60px;
    margin-bottom: 20px;
    padding: 20px;
}

/* Sets all styles to have border-box meaning the size takes into account the margin padding etc. and all backgrounds to grey*/
* {
  box-sizing: border-box; 
/*   background-color: white;*/
background-color: rgba(255, 255, 250);

}

main {
  padding-right: 15px;
}

a.text {
  border-bottom: dotted 1px #0F0F0F;
  text-decoration: none;
  cursor: pointer;
  color: #0F0F0F;
}

a {
  border-bottom: dotted 1px #0F0F0F;
  text-decoration: none;
  cursor: pointer;
  color: #0F0F0F;
  background-color: transparent;

}

.container {
  width: 80%;
  padding: 20px;
  float: left;
}

.container.projects {
  width: 100%;
}

.container.left {
width: 75%;

}

/* Hover Image Pop-up*/

.hover_img a {
  position: relative;
}

.hover_img a span {
  position: fixed; /* Position relative to the viewport */
  display: none; /* Initially hide the image */
  z-index: 99;
  top: 50%; /* Center vertically */
  left: 50%; /* Center horizontally */
  transform: translate(-50%, -50%); /* Offset by half the image dimensions to truly center */
  background: #fff; /* Optional: Add a white background for better visibility */
  padding: 12px; /* Optional: Add some padding around the image */
  border: 1px solid #ccc; /* Optional: Add a border */
  border-radius: 8px; /* Optional: Round the corners */
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3); /* Optional: Add a shadow for depth */
}

.hover_img a span img {
  max-width: 80vw; /* Scale image to fit within 80% of the viewport width */
  max-height: 80vh; /* Scale image to fit within 80% of the viewport height */
  display: block; /* Removes extra space reserved for inline images */
  margin: 0; /* Ensures no margin around the image */
}

.hover_img a:hover span {
  display: block; /* Show the image on hover */
}


.container.chat {
  font-family: helvetica neue, helvetica, sans-serif;;
  width: 25%;
  height: 500px;
  border: solid 1px;
  border-radius: 10px;
  color: #FF8000;
  margin-top: 70px;
  margin-bottom: 20px;

}

.row:after {

  content: "";
  display: table;
  clear: both;
}

.medium
{ 
  font-family: helvetica neue, helvetica, sans-serif;;
  font-size: 18px;
  font-style: bold;
  margin-top:0px;
  margin-bottom: 30px;
  font-weight: normal;
  width:100;

}

.circle {
  font-family: Arial, Helvetica, sans-serif;
  background-color: yellow;
  text-align: center;
  vertical-align: middle;
  line-height: 2.5rem;
  border-radius: 10%;
  height: 2.5rem;
  width: 5rem;
  position:absolute;
  margin-left: 100px;
  z-index: 80;
  transform: rotate(-5deg);
}

/* OLD Eyeball Card Styling */

/*#card {
  visibility: hidden;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
  max-width: 400px;
  cursor: move;
  position:absolute;
  top: 300px;
  left: 500px;
  transform: rotate(5deg);
  z-index: 100;
}*/

/* New Sketch Styling */
#card {
  visibility: hidden;
  max-width: 400px;
  cursor: move;
  position:absolute;
  top: 50%;
  left: 50%;
  z-index: 100;
}


/* Table styling */
table {
  border-spacing: 0px;
  width: 100%;
  border-collapse: collapse;

}

/* Table data and Table header styling */
td, th {
  font-family: helvetica neue, helvetica, sans-serif;;
  border-bottom: 1px solid grey; /* Add a hairline between each row */
  border-top: solid 1px grey;
  border-radius: 5px;
  padding-right: 20px;
  padding-top: 20px;
  padding-bottom: 30px; /* Increase cell padding */
  text-align: left;
  vertical-align: top;
  line-height: 24px;




}
/* and a third time here?*/

th {
  font-size: 18px;
  border-top: 1px solid grey;
  font-weight: normal;
}

tbody {

  font-family: helvetica neue, helvetica, sans-serif;;
  font-size: 18px;
}


/* Thumbnail image size */

.column {
  float: left;
  width: 33.33%;
  padding: 4px;
}

img {
  margin-bottom: 40px;
  width: 100%;
}

/* Project page styling */

.row {
  overflow: hidden;
  width: 100%;
}


.column_project {
  font-family: helvetica neue, helvetica, sans-serif;;
  display: block;
  padding-top: 20px;
  padding-right: 20px;
  float: left;
  width: 50%;
  font-size: 18px;
  line-height: 24px;
  border-top: 1px solid grey;
  overflow: hidden;

}

.right {
  padding-right: 0px;
}

.details {
font-family: helvetica neue, helvetica, sans-serif;;
font-size: 18px;
font-style: italic;
border-top: 1px solid grey;
padding-top: 16px;
}

.cv {
border-top: none;
}


/* Drop Down and Back button Styling */

#back {
  font-color: #0F0F0F;
  font-family: helvetica neue, helvetica, sans-serif;;
  font-size: 14px;
  margin-bottom: 20px;
  cursor: pointer;
  padding: 6px;
  border-radius: 0px;
  border: 1px solid grey;
  padding-right: 40px;
}



#type-selector {

  font-color: #0F0F0F;
  font-family: helvetica neue, helvetica, sans-serif;;
  font-size: 14px;
  margin-bottom: 20px;
  padding:5px;
  border-radius: 0px;
  cursor: pointer;
}


/* Filterable table */
/* Add the "filter" class to the input field to enable filtering */
.filterable input[type="text"] {
  width: 100%;
  padding: 12px;
  border: 1px solid #ddd;
  margin-bottom: 10px;


}

/* Style the filterable table */
.filterable {
  margin-bottom: 10px;
  border-top: solid 1px grey;
}


.cursor {
  cursor: pointer;
}


.thumb {
  width: 100%;
  max-width: 150px;
  min-width: 90px;

}

.column_cv {

  font-family: helvetica neue, helvetica, sans-serif;;
  display: block;
  padding-bottom: 20px;
  padding-right: 20px;
  float: left;
  width: 50%;
  font-size: 18px;
  line-height: 24px;
  overflow: hidden;
}

.left_cv {
  width: 20%;
  font-size: 18px;

}

.right_cv {
  width: 80%;
}

li {
  list-style-position: outside;
}

/* Responsive styling */
@media (max-width: 500px) {


    .hide-on-small {
        display: none;
    }


    #card {
      display: none;
    }

    .container.left {
      padding: 5px;
    
    }

    header {
      padding-left: 5px;
      padding-right: 5px;
    }

  .column_project {

    padding-right: 0px;

  }

  .container.chat {
    display: none;
  }

  .container.projects {

    padding-left: 5px;
    padding-right: 0px;
  }

  .sticker {
    background-color: yellow;
    border-radius: 10px;
    padding-left: 20px;
    padding-top: 20px;
    height: 180px;
    width: 92%;
  }

    
}

/* Responsive styling */
@media (max-width: 740px) {


    .hide-on-medium {
        display: none;
    }

    .column_project {
    width: 100%;
  }
  .sticker {
    background-color: yellow;
    border-radius: 10px;
    padding-left: 20px;
    padding-top: 20px;
    height: 180px;
    width: 92%;
  }

}

/* Responsive styling */
@media (max-width: 1100px) {

    .hide-on-big {
        display: none;
    }

    .container.chat{
      width:100%;
        margin-top: 20px;
    }

    .container.left {
    width: 100%;
    }

}

